body {
    font-family: Arial,  sans-serif; /* Familia de fuentes */
    font-size: 16px; /* El tamaño de la fuente principal en el tag <p></p> */
    background-color:black; /* El color del fondo de la página web */
    color: #333333; /* El color del texto*/ 
}
h1 {
    color: red; /* El color de la cabecera */
    font-size: 24px; /* El tamaño de la fuente de la cabecera */
    font-family: Georgia, serif; /* La familia tipográfica utilizada en la cabecera */
}

li {
    color: white;
    font-size:medium; 
}

p{
    color: white ;
    font-size: medium;
}
h2{
    color: red;
    font-size: x-large;
}
